.ry-header
{
	padding-top: 30px;
}

.ry-header .tg-darkheader .tg-navigation > ul > li > a,
.tg-servicetitle h3,
.tg-sectionheadvtwo .tg-sectiontitle h2,
.tg-servicesvsix .tg-serviceicon i,
p,
.tg-clientfeedbackslidervtwo .ry-clientfeedback h3,
.tg-clientfeedbackslidervtwo .ry-clientfeedback h4
{
	color: #202949;
}

.ry-header .tg-darkheader .tg-navigation > ul > li > a::before,
.tg-sectionheadvtwo .tg-sectiontitle::before,
.ry-clientfeedbackslidervtwo .owl-dots .owl-dot.active span,
.ry-clientfeedbackslidervtwo .owl-dots .owl-dot span:hover,
.ry-clientfeedbackslidervtwo .owl-dots .owl-dot span
{
	background: #202949;
}

.tg-headervone .ry-header .tg-socialicons
{
	border-left: none;
}

.ry-sectionheadvtwo
{
	padding-bottom: 90px;
}

.ry-copyright,
.ry-copyright a,
.tg-parallaxservices .tg-servicetitle h3,
.tg-parallaxservices .tg-description p
{
	color: #fff;
}

.ry-copyright a:hover
{
	color: #c79035;
}

.tg-services .tg-description ul
{
	text-align: left;
	padding-top: 10px;
}

.tg-services .tg-description ul li
{
	list-style-position: outside;
	padding-bottom: 8px;
}

.tg-bannercontent h2 
{
	color: white;
	text-transform: none;
}