.ry-header
{
	padding-top: 30px;
}

.ry-header .tg-darkheader .tg-navigation > ul > li > a,
.tg-servicetitle h3,
.tg-sectionheadvtwo .tg-sectiontitle h2,
.tg-servicesvsix .tg-serviceicon i,
p
{
	color: #202949;
}

.ry-header .tg-darkheader .tg-navigation > ul > li > a::before,
.tg-sectionheadvtwo .tg-sectiontitle::before
{
	background: #202949;
}

.tg-headervone .ry-header .tg-socialicons
{
	border-left: none;
}

.ry-sectionheadvtwo
{
	padding-bottom: 90px;
}