<footer id="contact" class="tg-footer tg-footervthree tg-footervfour">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4>Un projet ?</h4>
                <p>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSe7iIisKpIwTi8C-F6MnHKebqfmp8uWA4Inb3FS5Y8Xgb5CnQ/viewform?usp=header">Contactez-nous !</a>
                </p>
                <div class="tg-footernav">
                    <img alt="Ryfacto logo" src="images/logo-footer.png" />
                </div>
                <p class="tg-copyright ry-copyright">
                    <span>Copyright © Ryfacto. Tous droits réservés.</span><br />
                    <a href="mentions-legales.html">Mentions légales</a>
                </p>
            </div>
        </div>
    </div>
</footer>