<header id="tg-header" class="tg-header tg-headervone tg-fixedheader {% if page.header.style == "dark" %} tg-darkheader {% else %} ry-dynamic-header {% endif %}">
    <div class="container-fluid">
        <div class="row">
            <div class="tg-headercontent">
                <strong class="tg-logo">
                    <a href="index.html">
                        <img src="images/logo.png" alt="Ryfacto logo">
                        <img src="images/logob.png" alt="Ryfacto logo">
                    </a>
                </strong>
                <div class="ry-header">
                    <ul class="tg-socialicons">
                        <li><a href="https://github.com/Ryfacto" target="_blank"><i class="icon-github"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/company/ryfacto/" target="_blank"><i
                                        class="icon-linkedin2"></i></a></li>
                    </ul>
                    <nav id="tg-nav" class="tg-nav">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#tg-navigation" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
                            <ul>
                                <li class="menu-item current-menu-item">
                                    <a href="#accueil" data-toggle="collapse" data-target="#tg-navigation">Accueil</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#nos-services">Solutions</a>
                                    <ul class="sub-menu">
                                        <li><a href="#nos-services" data-toggle="collapse"data-target="#tg-navigation">Nos Services</a></li>
                                        <li><a href="#temoignages" data-toggle="collapse" data-target="#tg-navigation">Témoignages</a></li>
                                        <li><a href="#realisations" data-toggle="collapse" data-target="#tg-navigation">Portfolio</a></li>
                                        <li><a href="#technologies" data-toggle="collapse" data-target="#tg-navigation">Technologies</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#nos-tarifs">Tarifs</a>
                                    <ul class="sub-menu">
                                        <li><a href="#nos-tarifs" data-toggle="collapse" data-target="#tg-navigation">Nos tarifs</a></li>
                                        <li><a href="#garanties" data-toggle="collapse" data-target="#tg-navigation">Nos garanties</a></li>
                                    </ul>

                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#equipe">Qui sommes-nous ?</a>
                                    <ul class="sub-menu">
                                        <li><a href="#equipe" data-toggle="collapse" data-target="#tg-navigation">Notre Équipe</a></li>
                                        <li><a href="#nos-valeurs" data-toggle="collapse" data-target="#tg-navigation">Nos Valeurs</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="#contact" data-toggle="collapse" data-target="#tg-navigation">Contact</a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://medium.com/ryfacto" data-toggle="collapse" data-target="#tg-navigation" target="_blank" class="external-link">Blog</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>